#cartBubble{
  padding: 0.75rem;
  position:fixed;
  z-index: 2001;
  bottom: 10rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background:radial-gradient(black,var(--darkColor));
  color: var(--lightColor);
  opacity: 0.7;
  border: none;
  font-size: var(--fontSpLarge);
}
#cartBubble:hover{
  opacity: 1;
  filter: drop-shadow(0 0 5px var(--lightColor));
}
#cartCount{
    font-size: var(--fontSmall);
    position: absolute;
    top: -0.5rem;
    background: radial-gradient(var(--lightColor) 55%, black 100%);
    padding: 0.5rem;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    width: 2.5rem;
    color: var(--darkColor);
}